@model PagedList.IPagedList<App.Models.Zlecenia>

@{
    ViewBag.Title = "Index";
}
@using PagedList.Mvc;
@using PagedList;

<h2>Zlecenia</h2>
@using (Html.BeginForm("Index", "Zlecenia", FormMethod.Get))
{
    <p>
        @Html.TextBox("search", ViewBag.filter as string)
        <input type="submit" value="Szukaj" />
    </p>
}
<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>

            @Html.ActionLink("Firma", "Index", new { sortowanie = ViewBag.Firma, page = ViewBag.Strona, filter = ViewBag.filter}, new { style = "color: black;" })
        </th>
        <th>

            @Html.ActionLink("Termin", "Index", new { sortowanie = ViewBag.Termin, page = ViewBag.Strona, filter = ViewBag.filter }, new { style = "color: black;" })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termin)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.ZlecenieID }, new { @class = "Edycja" })
                @Html.ActionLink("Usuń", "Delete", new { id = item.ZlecenieID }, new { @class = "Delete" })
            </td>
        </tr>
    }

</table>





Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortowanie = ViewBag.SortBy, filter = ViewBag.filter }))
